.vs/
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/Files/
*.dll
Tony.FileTransfer.Server/TonyFileTranster.db
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/TonyFileTranster.db-shm
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/TonyFileTranster.db-wal
Tony.FileTransfer.Server.Test/obj/Debug/netcoreapp3.1/2ca81359-b29f-4441-80ab-df6aa684c144_Tony.FileTransfer.Server.Test.pdb
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Server.pdb
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Server.Test.pdb
Tony.FileTransfer.Server.Test/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Server.Test.pdb
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Server.pdb
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/TonyFileTranster.db
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/TonyFileTranster.db-shm
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/TonyFileTranster.db-wal
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/12fbc7ffe642ca7e_user.protodep
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/Protos/User.cs
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/Protos/UserGrpc.cs
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/TonyFileTranster.db
Tony.FileTransfer.Server.Test/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Server.Test.csprojAssemblyReference.cache
Tony.FileTransfer.Server/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Core.pdb
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Server.csproj.CoreCompileInputs.cache
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Server.csprojAssemblyReference.cache
Tony.FileTransfer.Server/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Server.pdb
Tony.FileTransfer.Core/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Core.pdb
Tony.FileTransfer.Core/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Core.pdb
Tony.FileTransfer.Server.Test/bin/Debug/netcoreapp3.1/Tony.FileTransfer.Core.pdb
Tony.FileTransfer.Core/obj/Debug/netcoreapp3.1/Tony.FileTransfer.Core.csprojAssemblyReference.cache
